<html lang="zxx">
<head>
	<!--====== Required meta tags ======-->
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="description" content="Insurance, Health, Agency">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!--====== Title ======-->
	<title>@ViewBag.Title</title>
	<!--====== Favicon Icon ======-->
	<link rel="shortcut icon" href="/public_page/assets/images/favicon.png" type="image/png">
	<!--====== Google Fonts ======-->
	<link href="https://fonts.bunny.net/css2?family=Barlow+Condensed:wght@400;500;600;700&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
	<!--====== FontAwesome css ======-->
	<link rel="stylesheet" href="/public_page/assets/fonts/fontawesome/css/all.min.css">
	<!--====== Bootstrap css ======-->
	<link rel="stylesheet" href="/public_page/assets/vendor/bootstrap/css/bootstrap.min.css">
	<!--====== Slick-popup css ======-->
	<link rel="stylesheet" href="/public_page/assets/vendor/slick/slick.css">
	<!--====== Nice Select css ======-->
	<link rel="stylesheet" href="/public_page/assets/vendor/nice-select/css/nice-select.css">
	<!--====== magnific-popup css ======-->
	<link rel="stylesheet" href="/public_page/assets/vendor/magnific-popup/dist/magnific-popup.css">
	<!--====== Jquery UI css ======-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.14.1/themes/base/jquery-ui.min.css">
	<!--====== Animate css ======-->
	<link rel="stylesheet" href="/public_page/assets/vendor/animate.css">
	<!--====== Default css ======-->
	<link rel="stylesheet" href="/public_page/assets/css/default.css">
	<!--====== Style css ======-->
	<link rel="stylesheet" href="/public_page/assets/css/style.css">
	<meta name="robots" content="noindex, nofollow" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.12.0/toastify.min.css">
	<!--====== Jquery js ======-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/rater-jquery@1.0.0/rater.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css" integrity="sha512-dPXYcDub/aeb08c63jRq/k6GaKccl256JQy/AnOq7CAnEZ9FzSL9wSbcZkMp4R26vBsMLFYH4kQ67/bbV8XaCQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

	<style>
		.modal form_control {
			padding: 6px .75rem;
		}
	</style>

</head>
<body>
	@Html.AntiForgeryToken()
	<!--====== Start Loader Area ======-->
	<div class="fd-preloader">
		<div class="d-flex align-items-center justify-content-center overflow-hidden" style="min-width: 25vh; min-height: 25vh;max-width: 45vh; max-height: 45vh;">
			<img src="~/public_page/assets/images/loader.gif" width="100%" height="100%" class="object-fit-fill" />
		</div>

	</div><!--====== End Loader Area ======-->
	<!--====== Start Overlay ======-->
	<div class="offcanvas__overlay"></div>
	<!--====== End Overlay ======-->
	<!--====== Start Sidemenu-wrapper-cart Area ======-->
	<div class="sidemenu-wrapper-cart">
		<div class="sidemenu-content">
			<div class="widget widget-shopping-cart">
				<h4>Giỏ hàng của tôi</h4>
				<div class="sidemenu-cart-close"><i class="far fa-times"></i></div>
				<div class="widget-shopping-cart-content">
					<ul class="foodix-mini-cart-list" style="max-height: 55vh;overflow-y: scroll;"></ul>
					<div class="cart-mini-total" style="margin-top: 25px!important;padding-bottom: 0;">
						<div class="cart-total">
							<span><strong>Tạm tính:</strong></span>
							<span class="amount">
								<span class="cart-total-product">

								</span>
							</span>
						</div>
					</div>
					<div class="cart-button mt-3">
						<a href="@Url.Action("Index", "Cart")" class="theme-btn style-one">Đi đến giỏ hàng</a>
					</div>
				</div>
			</div>
		</div>
	</div><!--====== End Sidemenu-wrapper-cart Area ======-->
	<!--====== Start Header Area ======-->
	@await Component.InvokeAsync("CustomerHeader")
	<!--====== End Header Area ======-->
	@RenderBody()

	<!-- Login Modal -->
	@await Component.InvokeAsync("CustomerLogin")

	<!-- User Info Modal -->
	@await Component.InvokeAsync("CustomerUserInfo")

	<!-- Registration Modal -->
	@await Component.InvokeAsync("CustomerRegister")

	<!--====== Start Footer ======-->
	@await Component.InvokeAsync("CustomerFooter")

	<!--====== Back To Top  ======-->
	<a href="#" class="back-to-top"><i class="far fa-angle-up"></i></a>

	<!--====== Popper js ======-->
	<script src="/public_page/assets/vendor/popper/popper.min.js"></script>
	<!--====== Bootstrap js ======-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0-alpha1/js/bootstrap.min.js"></script>
	<!--====== Slick js ======-->
	<script src="/public_page/assets/vendor/slick/slick.min.js"></script>
	<!--====== Magnific js ======-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.2.0/jquery.magnific-popup.min.js"></script>
	<!--====== Nice-select js ======-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
	<!--====== Parallax js ======-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
	<!--====== jquery UI js ======-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.14.1/jquery-ui.min.js"></script>
	<!--====== WOW js ======-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
	<!--====== Main js ======-->
	<script src="/public_page/assets/js/theme.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.12.0/toastify.min.js"></script>
	<!--Custom JS-->
	
</body>
</html>