<section class="intro-section pt-120 pb-120">
    <div class="container">
        <!--=== Intro Bg Wrapper ===-->
        <div class="intro-wrapper_three bg_cover pt-130 pb-125" style="background-image: url(/public_page/assets/images/bg_intro.jpg);">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-content-box wow fadeInDown text-center text-white">
                        <div class="play-button">
                            <a href="https://www.youtube.com/watch?v=PKQHs7DuweM" class="video-popup"><i class="fas fa-play"></i></a>
                        </div>
                        <h3 class="text-uppercase">Hương Vị Ngon Quên Lối Về!</h3>
                        <p class="fw-bold d-block mx-auto mt-2">Thức ăn nhanh không chỉ là bữa ăn, mà còn là trải nghiệm hương vị đầy hấp dẫn!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>