<!-- Change Password Modal -->
<div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordLabel" aria-hidden="true">
    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { id = "changePasswordForm" }))
    {
        @Html.AntiForgeryToken()
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Đổi mật khẩu</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="MatKhauCu" class="form-label">Mật khẩu cũ</label>
                        <input name="MatKhauCu" id="MatKhauCu" type="password" class="form-control" required />
                    </div>
                    <div class="mb-3">
                        <label for="MatKhauMoi" class="form-label">Mật khẩu mới</label>
                        <input name="MatKhauMoi" id="MatKhauMoi" type="password" class="form-control" required />
                    </div>
                    <div class="mb-3">
                        <label for="NhapLaiMatKhau" class="form-label">Nhập lại mật khẩu</label>
                        <input name="NhapLaiMatKhau" id="NhapLaiMatKhau" type="password" class="form-control" required />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                </div>
            </div>
        </div>
    }

</div>
<script>
    $(document).ready(function () {
            $('#changePasswordForm').on('submit', function (e) {
                e.preventDefault();
                var formData = $(this).serialize();
                $.ajax({
                    url: '@Url.Action("ChangePassword", "Account", new { area = "Admin" })',
                    type: 'POST',
                    dataType: 'json',
                    data: formData,
                    success: function (response) {
                        alertMessage(response.message, response.type);
                        if (response.success) {
                            setTimeout(() => { location.reload(); }, 1500);
                        }
                    },
                    error: function () {
                        alert("Có lỗi xảy ra. Thử lại !");
                    }
                });
            });


        });
</script>