<div class="logo-box">
    <a href="@Url.Action("Index", "Home", new {area = "Admin"})" class="logo-dark">
        <img src="/admin_page/assets/images/logo-sm.png" class="logo-sm" alt="logo sm">
        <img src="/admin_page/assets/images/logo-dark.png" class="logo-lg" alt="logo dark">
    </a>

    <a href="@Url.Action("Index", "Home", new {area = "Admin"})" class="logo-light">
        <img src="/admin_page/assets/images/logo-sm.png" class="logo-sm" alt="logo sm">
        <img src="/admin_page/assets/images/logo-light.png" class="logo-lg" alt="logo light">
    </a>
</div>